[submodule "teamwork-indicator"]
	path = teamwork-indicator
	url = https://github.com/arthurBorger/teamwork-indicator
	branch = main
[submodule "prog2005-assignment-1"]
	path = prog2005-assignment-1
	url = https://github.com/arthurBorger/prog2005-assignment-1.git
	branch = main
[submodule "prog2005-assignment-2"]
	path = prog2005-assignment-2
	url = https://github.com/arthurBorger/prog2005-assignment-2.git
	branch = main
[submodule "idatg2208-assignments"]
	path = idatg2208-assignments
	url = https://github.com/arthurBorger/idatg2208-assignments.git
	branch = main
[submodule "iikg3005-assingment-2"]
	path = iikg3005-assingment-2
	url = https://github.com/arthurBorger/iikg3005-assingment-2
	branch = main
[submodule "iikg3005-assingment-1"]
	path = iikg3005-assingment-1
	url = https://github.com/arthurBorger/iikg3005-assingment-1
	branch = main
